:root {
    --color-blanco: #fff;
    --color-gris: #2e2e2e;
    --color-negro: #1a1a1a;
    --color-destacado: #c97f26;
}


body {
    font-family: "Kanit", sans-serif;
}
.btn {
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 1.25rem;
    --bs-btn-font-size: 1rem;
}
.btn-primary {
  background-color: #c97f26;
  border-color: #ca7c1c;
  border-radius: 0;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #cb8c3e;
  border-color: #b36b13;
}
/******* COLORS ******/
.oscuro {
    color: var(--color-blanco);
    background-color: var(--color-gris);
}
.claro {
    color: var(--color-negro);
    background-color: var(--color-blanco);
}
.detalle {
    color: var(--color-destacado)
}
/******* END COLORS *******/
/******* TEXTS *******/
h1 {
    font-size: 4.5rem;
    font-weight: 700;
}
/**** END TEXTS *******/

/****** NAVBAR ******/
.navbar {

    padding: 1rem 0;
}
.navbar-brand img {
    width: 60%;
}
.navbar-toggler {
    color: var(--color-letra);
    border: var(--color-letra) 1px solid;
}
.navbar-toggler-icon.bg {
    background-color: var(--color-letra);   
}
@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

img {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

/******** END NAVBAR ********/

/******** HEADER *************/
header {
    min-height: 70vh;
}
.jumbotron {
    position: absolute;
    z-index: 2;
    max-width: 60%;
}
.super-maquina {
    position: absolute;
    z-index: 1;
    top: 15%;
    right: 0;
    max-height: 90vh;
   /*  transform: translate(-50%, -50%);
    animation: entry 2s ease-in-out; */
}
.title {
    font-size: 8rem;
}
.subtitle {
    font-size: 2rem;
}
/******** END HEADER ********/

/******** Sección Quienes somos ********/
.w-6 {
    width: 60%;
}
.about {
    padding: 5rem 0;
    background: url(../img/bg-destacado.png) no-repeat;;
    background-size: 70%;
    background-position: bottom right;
}

/******* ENDS OF SECTION *******/