:root {
  --color-blanco: #fff;
  --color-gris: #2e2e2e;
  --color-negro: #1a1a1a;
  --color-destacado: #c97f26;
  --color-marron: #986431;
}


body {
  font-family: "Kanit", sans-serif;
}

.btn {
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 1.25rem;
  --bs-btn-font-size: 1rem;
}

.btn-primary {
  background-color: #c97f26;
  border-color: #ca7c1c;
  border-radius: 0;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #cb8c3e;
  border-color: #b36b13;
}

/******* COLORS ******/
.oscuro {
  color: var(--color-blanco);
  background-color: var(--color-gris);
}

.claro {
  color: var(--color-negro);
  background-color: var(--color-blanco);
}

.detalle {
  color: var(--color-destacado)
}

/******* END COLORS *******/
/******* TEXTS *******/
h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

/**** END TEXTS *******/

/****** NAVBAR ******/
.navbar {

  padding: 1rem 0;
}
.navbar-toggler {
  color: var(--color-blanco);
  border: var(--color-blanco) 1px solid;
}

.navbar-toggler-icon.bg {
  background-color: var(--color-blanco);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
@media (max-width: 768px) {
  .container.menu {
    /*flex-wrap: nowrap;*/
  }
  .navbar-toggler-icon {
    background-image: url(../img/menu-hamburguesa.svg);
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .collapse.navbar-collapse.show ul li a {
    text-align: center;
}

.collapse.navbar-collapse.show ul {
    background-color: var(--color-negro);
}
}
/******** END NAVBAR ********/

/******** HEADER *************/
header.oscuro .container {
  min-height: 85vh;
}

.jumbotron {
  position: absolute;
  z-index: 2;
  max-width: 60%;
}

.super-maquina {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 0;
  max-height: 90vh;
  /*  transform: translate(-50%, -50%);
    animation: entry 2s ease-in-out; */
}

.title {
  font-size: 8rem;
}

.subtitle {
  font-size: 2rem;
}

.bg-brown {
  background-color: var(--color-marron);
}
@media (max-width: 768px) {
  .super-maquina {
    display: none;
  }
  .jumbotron {
    max-width: 100%;
    text-align: center;
    position: initial
  }
  header .container {
    background: url(../img/head-machine.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 50px;
  }
  header .title {
    font-size: 7rem;
  }
  header.oscuro .container {
    min-height: max-content;
  }
}
/******** END HEADER ********/

/******** Sección Quienes somos ********/
.w-6 {
  width: 60%;
}

.about {
  padding: 5rem 0;
  background: url(../img/bg-destacado.png) no-repeat;
  ;
  background-size: 70%;
  background-position: bottom right;
}

.detail {
  border-bottom: 5px solid;
  border-color: var(--color-destacado);
  width: 100px;
}
@media (max-width: 768px) {
  .about {
    padding: 0;
    background-size: auto;
    background-position: initial;
  }
}

/******* ENDS OF SECTION *******/
/******* PRODUCT INFO **********/

.product-info {
  background-color: var(--color-blanco);
}

.product-info .card-footer .cta {
  position: relative;
  margin: auto;
  padding: 9px 18px;
  transition: all 0.2s ease;
  border: 3px solid var(--color-destacado);
  border-radius: 50px;
  background: var(--color-destacado);
  cursor: pointer;
}

.product-info .card-footer .cta:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-radius: 50px;
  background: white;
  width: 45px;
  height: 45px;
  transition: all 0.8s ease;
}

.product-info .card-footer .cta span {
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.product-info .card-footer .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.5s ease;
}

.product-info .card-footer .cta:hover:before {
  width: 100%;
  background: #1c1c1c;
}

.product-info .card-footer .cta:hover svg {
  transform: translateX(0);
  transition: all 2s ease;
}

.product-info .card-footer .cta:active {
  transform: scale(0.95);
  transition: all 2s ease;
}

.img-product {
  height: 100%;
  object-fit: cover;
}
#request {
  padding-bottom: 80px;
} 
/******* ENDS OF INFO ********/

/******* FOOTER *******/
footer {
  padding: 20px 0;
  background: #121212;
  color: #f9f9f9;
}

footer .col img {
  display: block;
  height: 60px;
  margin: 0 auto;
}
.footer .col address {
  margin-bottom: 0 !important;
}

footer section h3 {
  color: rgb(255 255 255 / 40%);
  font-weight: 400;
  font-size: 13px;
}

footer section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  text-align: center;
}

footer section ul li a {
  display: block;
  margin-bottom: 10px;
  color: rgb(255 255 255 / 90%);
}

.socials {
  left: 50%;
  bottom: -60px;
  translate: -50% 0;
  display: flex;
  gap: 24px;
  font-size: 20px;
  color: rgb(255 255 255 / 40%);
}

.socials a {
  text-decoration: none;
  color: #ccc;
  transition: all 0.5s;
}
.socials a:hover {
  color: #fff;
}
.socials a.fa-whatsapp:hover {
  color: #25D366;
}
.socials a.fa-facebook:hover {
  color: #4267B2;
}
.socials a.fa-instagram:hover {
  color: #C13584;
}
.socials a.fa-linkedin:hover {
  color: #0a66c2;
}
@media (width > 530px) {

  footer article h2 {
    font-size: 24px;
  }

  footer .container {
    margin: 50px 0;
  }

  footer section img {
    margin: 0 0 30px;
  }

  footer section ul {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
    place-items: start;
    text-align: left;
  }

  .socials {
    top: 45px;
    left: 300px;
    bottom: auto;
    font-size: 25px;
    gap: 3vw;
    translate: 0;
    padding-left: 24px;
    border-left: 1px solid rgb(255 255 255 / 20%);
  }
}

/**********************/